body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  font-size: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: hsla(0, 0%, 100%, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  box-shadow: 3px 6px rgb(0 0 0 / 20%);
}
